@using GameLibraryApp.ViewModel
@model GamesViewModel
@{
    ViewData["Title"] = "Game Reviews";
}

<h1>@ViewBag.Title</h1>
   
            @foreach (Games games in Model.Games)
            {

                <ul>
                    <li>
                        @Html.DisplayFor(modelItem => games.Name)
                    </li>
                </ul>

            }
            @foreach (Creator creator in Model.Creator)
            {

                <ul>
                    <li>
                        @Html.DisplayFor(modelItem => creator.Name)
                    </li>
                </ul>
            }
            @foreach (Ratings ratings in Model.Ratings)
            {

                <ul>
                    <li>
                        @Html.DisplayFor(modelItem => ratings.Rating)
                    </li>
                </ul>
            }
