@{
    ViewData["Title"] = "Love Gaming";
}
<style>
    ul.bullet{
        list-style-type:square;
    }
</style>
<h2 style="color:darkred;text-shadow:2px 2px 2px blue;">Love Gaming</h2>
<ul class="bullet">
    <li>
        Love Gaming is an app that can be used to find the next best game that is suited for you. The app works
        by gathering information about your gaming preferences and history in order to make personalized reccomendations just for you!
    </li>
    <li>Discover new reccomended games</li>
    <li>Find the best prices on available games</li>
</ul>
<div>
    <img src="~/Images/gameSymbol.png" alt="gaming zone sign" asp-append-version="true"
         class="float-right img-fluid" style="width:100%;" />
</div>