@{
    ViewData["Title"] = "Love Gaming";
}
<div class="jumbotron shadow" style="background-color:coral;border-radius:25px;">
    <h2 style="color:darkred;text-shadow:2px 2px 2px blue;">Love Gaming</h2>
    <p>The #1 way to find new games that you'll love!</p>
</div>
<h3 style="color:black;">Address</h3>
<address>
    123 Gaming Dr<br />
    Traverse City, MI 49684<br />
    Phone: 1-800-Love-Gaming
</address>

<address>
    <strong>Support Team:</strong> <a href="mailto:Support@lovegaming.com">Support@lovegaming.com</a>
    <strong>App Suggestions Team:</strong> <a href="mailto:Suggestions@lovegaming.com">Suggestions@lovegaming.com</a>
</address>
