@{
    ViewData["Title"] = "Love Gaming";
}
<style>
    h1, h2 {
        color:darkred;
        text-shadow:2px 2px 2px blue;
    }
</style>
<div class="jumbotron shadow" style="background-color:coral;color:black;border-radius:20px;">
    <h1>Love Gaming <i class='fas fa-play' style='font-size:36px;color:black; float:right;'></i></h1> 
    <p class="lead">
        The app that will help you discover new games! Search games, read reviews,
        find prices, and even get personalized reccomendations based off of your gaming history.
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Step One</h2>
        <p>
            Create an account to get started!
        </p>
    </div>
    <div class="col-md-4">
        <h2>Step Two</h2>
        <p>List and Keep track of all the games you play.</p>
    </div>
    <div class="col-md-4">
        <h2>Step Three</h2>
        <p>Get reccomendations and find new games to play!</p>
    </div>
</div>
    <div class="p-size-3">
        <img src="~/Images/gamer.jpg" alt="playing games" asp-append-version="true"
             class="mx-auto-d-block img-fluid" style="width:150%;" />
    </div>